doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title #{title} | Flux-Chat
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="bundle.css")

  body.lime.lighten-4

    //- Import jQuery before materialize.js
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="bundle.js")
