doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Flux • Chat
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,500italic,400&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="bundle.css")
    script(src="#{ socketio }")

  body
    
    script(src="bundle.js")
