.btn {
  &:hover {
    color: white;
    transition: background-color .3s linear;
  }
}

.btn-local {
  &:hover {
    background: @grey-300;
  }
}

.btn-signup {
  &:hover {
    background: @blue-grey-100;
  }
}

.btn-google {
  &:hover {
    background: @red-400;
  }
}

.btn-twitter {
  &:hover {
    background: @cyan-400;
  }
}

.btn-facebook {
  &:hover {
    background: @blue-A200;
  }
}

.btn-github {
  &:hover {
    background: @teal-500;
  }
}

.btn-vk {
  &:hover {
    background: @blue-600;
  }
}
