// Basic styles
html, body, body > div
  height 100%

html
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%

body
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased

.wrapper
  min-height 100%
  height auto !important
  height 100%
  margin-bottom -90px

.page-footer, .push
  height 170px

// =============================================================================
// Main Page ===================================================================
// =============================================================================
// footer
.page-footer
  a
    margin-left 1em

// =============================================================================
// Chat ========================================================================
// =============================================================================
.row-chat
  margin-bottom 0

#chat
  overflow auto
