block content
    
  header.container
    div.row
      h1.center-align.lime-text.text-darken-4 Chat on Node.js
  
  div.container.row.valign-wrapper
    div.col.s12.valign
      div.row
        a.btn.col.s5.waves-effect.waves-light.lime.darken-3(href="/#/login") Local Login
        a.btn.col.s5.offset-s2.waves-effect.waves-light.lime.darken-3(href="/#/signup") Local Signup
