footer#footer.page-footer.red.darken-1
  div.footer-copyright
    div.container.row
      | © 2015 NodeJS-Chat
      a.grey-text.text-lighten-4.right(href="http://batazor.ru/") batazor.ru
      a.grey-text.text-lighten-4.right(href="https://github.com/batazor") github.com
      a.grey-text.text-lighten-4.right(href="http://vk.com/batazor") vk.com
