ul#user.dropdown-content
  li
    a(href="/#/profile") Profile
  li
    a(href="/#/logout") Logout

nav#nav.red
  .nav-wrapper
    .col.s12
      a.brand-logo.right(href="/#/") NodeJS-Chat
      ul.hide-on-med-and-down
        if user
          li
            a(href="/#/chat") Chat
        li
          a(href="/#/about") About
        if user
          li
            a.dropdown-button(href='#!' data-activates="user")
              | User
              i.mdi-navigation-arrow-drop-down.right
